.heading {
font-size: 23px;
width:100%;
margin:0px;
box-shadow:5px 5px 5px grey;
}
.heading_div {
    float: none;
    background: honeydew;
    padding: 10px;
    border-radius: 20px;
    color:black;
    box-shadow: 5px 5px 5px grey;
}
.heading_div2 {
    font-size: 18px;
}
.result_tag {
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
}
canvas {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
}
.copy_right_footer{
  position: fixed;
  bottom:0;
  color: white;
  background-color: grey;
  width: 100%;
  text-align: center;
  line-height: 3;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}